:root{
    --grey-color: #7E7E7E;
    --default-text-color: #000000;
    --border-color: #D9D9D9;
    --btn-color: #FF5555;
    --bg-color: #FFFFFF;
    --star-color: #FF9432;
    --link-hover-color: #208FBF;
    --border-radius: 6px;
    --default-border: 1px solid var(--border-color);
}

html{
    color: var(--default-text-color);
    background-color: var(--bg-color);
    font-family: "Roboto";
}
h5{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: 18.75px;
}
p, span{
    margin: 0;
    color: var(--grey-color);
    font-size: 14px;
    line-height: 16.41px;
}
.repos-list {
    width: 397px;
    height: 1024px;
    display: grid;
    box-sizing: border-box;
    padding: 20px;
}
.git-repo-tile {
    display: flex;
    align-items: center;
    border: var(--default-border);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    margin-top: 20px;
    padding: 12px;
    height: 104px;
}
.git-repo-tile:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
}
.git-repo-tile__repo-name, .git-repo-tile__org-link, 
.git-repo-tile__repo-name {
    margin: 4px 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 242px; 
    height: 1.2em; 
    white-space: nowrap;
}
.git-repo-tile__org-link {
    margin-bottom: 4px;
}
.git-repo-tile__org-link:hover {
    color: var(--link-hover-color);
}
.git-repo-tile__context{
    display: flex;
    flex-direction: column;
}
.git-repo-tile__avatar{
    margin-right: 12px;
    width: 80px;
    height: 80px;
}
 .git-repo-tile__stars {
    display: inline-block;
}
.git-repo-tile__star-icon {
    vertical-align: middle;
}
.git-repo-tile__date-updated {
    display: inline-block;
    margin-left: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
}
.search-bar__search-button{
    background-color: var(--btn-color);
    border-radius: var(--border-radius);
    border: none;
    width: 50px;
    height: 50px;
}
.search-bar__search-button:hover{
    opacity: 70%;
}
.search-bar__search-button:disabled{
    background-color: var(--grey-color);
}
.search-bar__search-icon{
    margin: 0 auto;
}
.search-bar__input {
    width: 295px;
    padding: 17px 0 17px 12px;
    border: var(--default-border);
    box-sizing: border-box;
    border-radius: var(--border-radius);
}
.search-bar__input:focus {
    outline: none;
    border-color: var(--btn-color);
}
.search-bar__input:disabled{
    outline: none;
    border: var(--default-border);
}
