<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="RepoList.css">
    <title>Document</title>
</head>
<body>
    <div class="repos-list">
        <div class="search-bar">
            <input class="search-bar__input" type="text" placeholder="Введите название организации">
            <button class="search-bar__search-button">
                <img class="search-bar__search-icon" src="../images/search.svg" alt="">
            </button>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git-repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">very-long-repository-name-and-blablabla</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/avatar.png" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">very-long-repository-name-and-blablabla</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img class="git_repo-tile__avatar-img" src="../images/default-avatar.svg" alt="repo avatar">
            </div>
            <div class="git-repo-tile__content">
                <h5 class="git-repo-tile__repo-name">kts-school-frontend</h5>
                <p class="git-repo-tile__org-link">ktsstudio</p>
                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../images/star.svg" alt="a star icon">
                        <span class="git-repo-tile__num-stars">123</span>
                    </div>
                    <span class="git-repo-tile__date-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
</body>
</html>