@import "variables";
@import "mixins";

html{
    color: var(--default-text-color);
    background-color: $bg-color;
    font-family: "Roboto";
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h5{
    @include fontSettings(16px, bold, 18.75px);
    margin: 0;
}
p, span{
    margin: 0;
    color: $grey-color;
    @include fontSettings(14px, normal, 16.41px);
}