:root{
    --grey-color: #7E7E7E;
    --default-text-color: #000000;
    --border-color: #D9D9D9;
    --btn-color: #FF5555;
    --bg-color: #FFFFFF;
    --star-color: #FF9432;
    --link-hover-color: #208FBF;
    --border-radius: 6px;
    --default-border: 1px solid var(--border-color);
}
html{
    color: var(--default-text-color);
    background-color: var(--bg-color);
    font-family: "Roboto";
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h5{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: 18.75px;
}
p, span{
    margin: 0;
    color: var(--grey-color);
    font-size: 14px;
    line-height: 16.41px;
}